*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: visible;
  overflow-y: visible;
  height: 100%;
  margin: 0 auto;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
/*popup*/
.popup {
  position: absolute;
}

body {
  font-family: 'Cuprum', sans-serif;
}
.header {
  width: 100%;
  position: relative;
  height: 320px;
  background: #f1f5f7;
}

.container {
  width: 940px;
  margin: 0px auto;
  position: relative;
  background: inherit;
}

.header__top {
  background: rgba(41, 52, 73, 1);
  position: relative;
}

.header__top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  height: 42px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: -5px;
  width: 220px;
  height: 47px;
  background-color: rgba(238, 54, 67, 1);

  box-shadow: inset 0px -5px rgba(0, 0, 0, 0.24);

  z-index: 1;
}
.logo:active {
  background: rgba(186, 39, 50, 1);
}

.search__panel {
  width: 271px;
  height: 42px;
  background-color: none;
  position: relative;
}
input::-webkit-input-placeholder {
  color: #ffffff;
}

.search__input {
  background: #293449 url('../img/icon/icon-search_grey .png') no-repeat 17px
    12px;

  padding-left: 42px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  padding-right: 7px;
}

.search__input:hover {
  background: #293449 url('../img/icon/icon-search_white.png');
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
.search__input:active {
  background: #293449 url('../img/icon/icon-search_grey .png');
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
}

.search__input:focus {
  padding-left: 42px;
  opacity: 1;
  outline: 0;
  background-color: #f3f7f9;
  color: rgba(0, 0, 0, 1);
  background: #ffffff url('../img/icon/icon-search_red.png');
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
}

.search__input input[type='text']:focus + label {
  display: none;
}

.header__tab-wrapper {
  width: 100%;
}

.header__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  height: 42px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  text-decoration: none;
  color: #f1f5f7;
}

._icon-bookmarks {
  background: url('../img/icon/icon-bookmark.png') no-repeat 20px 13px;
}
._icon-bookmarks:hover:active {
  background: #161d29 url('../img/icon/icon-bookmark.png') no-repeat 20px 13px;
  color: rgba(255, 255, 255, 0.5);
  /*color: rgba(255, 255, 255, 0.5);*/
}
._icon-bookmarks:hover {
  background: url('../img/icon/icon-bookmark_white.png') no-repeat 20px 13px;
}

._icon-basket {
  background: url('../img/icon/icon-cart.png') no-repeat 23px 13px;
}
._icon-basket:hover:active {
  background: #161d29 url('../img/icon/icon-cart.png') no-repeat 23px 13px;
  color: rgba(255, 255, 255, 0.5);
}

._icon-basket:hover {
  background: url('../img/icon/icon-cart_white.png') no-repeat 23px 13px;
}
.header__order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  background: #63a63e;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  height: 42px;
  width: 150px;
}

.header__order:hover {
  background: #5fbb2d;
}

.header__order:active {
  color: rgba(255, 255, 255, 0.5);
}

._basket-red {
  background: rgba(238, 54, 67, 1) url('../img/icon/icon-cart.png') no-repeat
    23px 13px;
}

._basket-red:hover {
  background: rgba(202, 44, 55, 1) url('../img/icon/icon-cart_white.png')
    no-repeat 23px 13px;
}

._basket-red:hover:active {
  background: rgba(186, 39, 50, 1) url('../img/icon/icon-cart.png') no-repeat
    23px 13px;
  color: rgba(255, 255, 255, 0.5);
}

.header__bottom {
  display: flex;
  align-items: center;
  position: relative;

  background-color: #f3f7f8;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 158px;
  padding-top: 46px;
  padding-bottom: 44px;
}

.header__text {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Cuprum', arial, sans-serif;
  font-style: italic;
  color: rgba(238, 54, 67, 1);
  line-height: 23px;
  height: 71px;
  width: 203px;
  font-weight: 1;
  margin-bottom: 4px;
  margin-left: 30px;

  /* align-items: center;
  display: flex;
  width: 204px;
  margin-top: -3px;
  font-size: 16px;
  line-height: 24px;
  color: #ee3643;
  font-style: italic;
  font-family: 'Cuprum', arial, sans-serif;
  margin-left: 30px;
  margin-right: 82px;
  margin-bottom: 46px;
  font-weight: 1;
  height: 71px;*/
}
.header__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.header__contact-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  width: 100%;
  height: 45px;
  font-family: 'Cuprum';
  font-style: normal;
  color: rgba(238, 54, 67, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid #ffffff;
  box-sizing: border-box;

  /*display: inline-block;
  display: flex;
  width: 100%;
  height: 45px;
  border: 3px solid #fff;
  align-items: center;
  color: #ee3643;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  padding-left: 39px;*/
}

.header__contact-tel:before {
  content: ' ';
  width: 17.51px;
  height: 19px;
  background: url('/img/icon/icon-phone.png') no-repeat center center;
  margin-right: 16px;
}

.header__contact-adress {
  display: flex;
  color: #32425c;
  font-size: 14px;
  font-weight: 24px;
  margin-top: 6px;
  justify-content: center;
  font-family: 'Cuprum';
  font-style: normal;
  font-style: normal;
  font-weight: 400;

  /*display: flex;
  color: #32425c;
  font-size: 14px;
  font-weight: 24px;
  margin-top: 6px;
  justify-content: center;*/
}

.authorize {
  width: 282px;
  height: 47px;
  display: block;
  display: flex;

  align-items: center;

  margin-bottom: 25px;
}
.authorize-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.authorize__entryd {
  width: 121px;
  height: 45px;
  background: white url(../img/icon/icon-login_grey.png) no-repeat 19px 14px;
  color: #000;
  display: block;
  display: flex;
  justify-content: center;
  padding-left: 7px;
  align-items: center;
  font-family: 'Cuprum';
  font-style: normal;
  margin-right: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.authorize__entryd:hover {
  background: #ffffff url(../img/icon/icon-login_bl.png) no-repeat 19px 14px;
  color: #ee3643;
}
.authorize__entryd:hover:active {
  background: white url(../img/icon/icon-login_grey.png) no-repeat 19px 14px;
  color: #c5c5c5;
}

.authorize__reg {
  background-color: white;
  color: #000;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  height: 45px;
  font-weight: 400;
}

.authorize__reg:hover {
  color: #ee3643;
}
.authorize__reg:active {
  color: #c5c5c5;
}

/*.header-navigation {
  margin-top: 43px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #32425c;
  box-shadow: inset 0px -5px 0px #293449;
  width: 100%;
}*/

.header-nav {
  min-height: 60px;
  display: flex;
  justify-content: center;
}

.header-nav__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background: #32425c;
  width: 100%;
  box-shadow: inset 0px -5px 0px #293449;
}

.header-nav__link {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 28px;
  color: #fff;
}
.header-nav__item:first-child .header-nav__link {
  margin-left: 25px;
}

.header-nav__item:last-child .header-nav__link {
  margin-right: 25px;
}

.header-nav__link:hover {
  background: rgba(41, 52, 73, 1);
}
.header-nav__link:active {
  background: rgba(29, 39, 57, 1);
  box-shadow: inset 0px -5px 0px #293449;
  opacity: 0.5;
}

/*Footer*/

.footer {
  background-color: #32425c;
}

.footer-top {
  height: 193px;
  position: relative;
}

.footer-top__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 28px;
  display: flex;
  height: 68px;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 0.9;
  border-bottom: 1px;
  border-color: rgba(241, 245, 247, 0);
  margin-top: 37px;
  margin-left: 12px;
}

.footer-nav__link {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 30px;
}

.footer-nav__item:first-child {
  margin-left: 0;
}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-nav__link:active {
  opacity: 0.6;
  text-decoration: none;
}

.footer-top__bottom {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.low-nav {
  display: flex;
  color: #ffd180;
  font-size: 18px;
  line-height: 0.9;
  border-bottom: 1px;
  border-color: rgba(255, 209, 128, 0);
  margin-top: 12px;
}

.low-nav__link {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 30px;
}

.low-nav__item:first-child {
  margin-left: 0;
}
.low-nav__item:last-child {
  margin-right: 0;
}
.low-nav__link:hover {
  text-decoration: underline;
}

.low-nav__link:active {
  opacity: 0.6;
  text-decoration: none;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: rgba(41, 52, 73, 1);
  color: #f1f5f7;
}

.footer-info-line {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  width: 321px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 135px;
}

.social-links__item {
  margin: 0 2px;
}
.social-links__item:first-child {
  margin-left: 0;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links__link {
  background-color: #212a3a;
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.social-links__link:hover {
  background-color: #ee3643;
}
._link-vk {
  background-image: url('../img/vk-icon.svg');
}
._link-vk:hover {
  background-image: url('../img/red-vk-icon.svg');
}
._link-fb {
  background-image: url('../img/fb-icon.svg');
}
._link-fb:hover {
  background-image: url('../img/red-fb-icon.svg');
}
._link-insta {
  background-image: url('../img/insta-icon.svg');
}
._link-insta:hover {
  background-image: url('../img/red-insta-icon.svg');
}

.hidden {
  display: none;
}

.answer-info {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.answer:first-child {
  margin-left: 15px;
}
.answer:last-child {
  margin-right: 15px;
}
.answer__title {
  color: #fff;
}
.answer__link {
  color: #ffd180;
  display: inline-block;
  line-height: 0.9;
  border-bottom: 1px;
  border-color: rgba(255, 209, 128, 0);
}
.answer__link:hover {
  border-bottom: 1px solid #ffd180;
}
.answer__link:active {
  color: #ee3643;
  border-color: rgba(238, 54, 67, 0);
}

/*main-content*/
.main {
  margin-top: 59px;
}
.slide {
  height: 409px;
}

.slide-top {
  display: flex;
  justify-content: space-between;
}
.slide__bottom {
  display: flex;
  justify-content: space-between;
}
.slide-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  position: relative;
  margin-bottom: 20px;
}

.slide-name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 14px;
  margin: 20px 20px 0 20px;
}

.slide-box__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 135px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

.slide-box__btn:hover {
  background: rgba(197, 197, 197, 0.3);
}

.slide-box__btn:active {
  background: rgba(169, 169, 169, 0.3);
}

._device1 {
  background: url('../img//icon/device-1.png') no-repeat 213px 31px,
    url('../img//icon/new.png') no-repeat 230px 0;
  background-color: rgba(255, 191, 71, 1);
}

._device2 {
  background: rgba(59, 188, 227, 1) url('../img//icon/device-2.png') no-repeat
    194px 34px;
}

._device3 {
  background: rgba(220, 145, 216, 1) url('../img/icon/device-3.png') no-repeat
    191px 31px;
}
._device4 {
  background: rgba(142, 215, 143, 1) url('../img//icon/device-4.png') no-repeat
    196px 26px;
}
._device5 {
  background: rgba(255, 191, 71, 1) url('../img/icon/device-5.png') no-repeat
    191px 32px;
}
/*Слайдер*/

.slider-box {
  display: flex;
  position: relative;
}

.slider-list {
  display: flex;
  list-style-type: none;
  position: relative;
}

.slider-list__item {
  display: flex;
  flex-direction: column;

  background-image: url('../img/icon/puncher.jpg');
  width: 620px;
  height: 266px;
  opacity: 1;
  position: absolute;
  z-index: 2;
}
.slider-shadow {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 620px;
  height: 104px;
  background-color: rgba(0, 0, 0, 0.25);
}
._second {
  opacity: 1;
  background-image: url('../img/icon/drill.jpg');
  z-index: 1;
}

._slider-btn,
.slider-title,
.slider-description {
  color: rgba(250, 250, 250, 1);
  margin-left: 27px;
  display: flex;
}

.slider-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  margin-top: 25px;
}

.slider-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
  font-style: normal;
}

._slider-btn {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 201px;
}

._slider-btn:hover {
  background: rgba(202, 44, 55, 1);
}

._slider-btn:active {
  background: rgba(186, 39, 50, 1);
}

/* arrows styles */

.arrow-btn {
  width: 22px;
  height: 40px;
  position: absolute;
  top: 122px;
  display: flex;
  z-index: 2;
}

.arrow-btn__second {
  left: 25px;
  background: url('../img/icon/arrow-left.png') no-repeat;
}

.arrow-btn__first {
  left: 578px;
  background: url('../img/icon/arrow-right.png') no-repeat;
}
/*product*/

.main-product {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
  height: 427px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(249, 245, 240, 1);
  height: 89px;
  margin-bottom: 21px;
}

.heading {
  text-transform: uppercase;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: rgba(50, 66, 92, 1);
}
._popular {
  padding-left: 28px;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: rgba(238, 54, 67, 1);
  color: #ffffff;
  height: 38px;
  width: 192px;
  align-items: center;
  text-align: center;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px;
}
.btn:hover {
  background: rgba(202, 44, 55, 1);
}

.btn:active {
  background: rgba(186, 39, 50, 1);
}

.product {
  display: flex;
  justify-content: space-between;
}

.product-list {
  display: flex;
  justify-content: space-between;
}

ul.product-list li {
  width: 220px;
  height: 318px;
  display: flex;
}

.product-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #eaeaea;
}

.product__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 164px;
  width: 184px;
}

.product._new div {
  background: url('../img/icon/new.svg') no-repeat 150px 0;
}

.product__link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

._last-product {
  margin-bottom: 38px;
}

.product__price {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

._product__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 38px;
  width: 141px;
  background: url('../img/icon/btn-price.png') no-repeat;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 21px;
}

._old-price {
  text-decoration-line: line-through;
  color: rgba(169, 169, 169, 1);
}

.product-buy {
  height: 160px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  position: absolute;
  visibility: hidden;
  border: 1px solid #eaeaea;
  border-bottom-style: none;
}

ul.product-list li:hover {
  visibility: visible;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

ul.product-list li:hover .product-buy {
  visibility: visible;
  background-color: #ffff;
}

.product-buy__item {
  width: 135px;
  height: 38px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background: url('../img/icon/icon-cart.png') no-repeat 30px 10px;
  background-color: #63a63e;
  margin-bottom: 10px;
  padding-left: 8px;
  border-radius: 2px;
}

.product-buy__item:hover {
  background-color: #5fbb2d;
}

.product-buy__item:active {
  background-color: #518534;
}

._bookmarks {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 4px;
  justify-content: center;
  padding: 0;
}

._bookmarks:hover {
  border-color: #32425c;
  background-color: #ffffff;
}

._bookmarks:active {
  opacity: 0.5;
}
/*brand`s section*/
._list-brands {
  margin-top: 70px;
}
.popular-brands {
  height: 419px;
}

.brand {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.brand__list {
  display: flex;
  height: 145px;
  width: 220px;
  border: 1px solid #eaeaea;
}

.brand__list:hover {
  visibility: visible;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}
.brand__list:active {
  opacity: 0.5;
}
/*---Main bottom---*/

/*.main-bottom {
  display: flex;
  background: #f1f5f7;
  margin-top: 70px;
  padding-top: 64px;
  height: 522px;
}*/

/*.sevices {
  display: flex;
  justify-content: space-between;
}

.services__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
._services-heading {
  display: flex;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 28px;
}

.services__text {
  font-family: 'PT Sans';
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.add-services {
  display: flex;
  justify-content: space-between;
}

.services-list {
  position: relative;
  height: 279px;
  display: flex;
  flex-direction: column;

  /* проверить display: flex;
  flex-direction: column;
  position: relative;

  height: 279px;
  width: 230px;
  background: url('../img/icon/shadow-object.png') no-repeat 360px 0;
}

.services-list:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  width: 10px;
  background: url('../img/icon/shadow-object.png') no-repeat 100% 0;
  height: 279px;
  top: -60px;
}

.services-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 230px;
  color: rgba(255, 255, 255, 1);
  background: rgba(50, 66, 92, 1);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 618px;
  height: 281px;
}

._delivery-box {
  background: url('../img/service/service-details-delivery-background.png')
    150px 20px no-repeat;
}

._delivery {
  margin-bottom: 30px;
}*/

.service {
  padding-bottom: 46px;
  background-color: #f1f5f7;
  margin-top: 70px;
  margin-bottom: 70px;
}

.service__box {
  padding-top: 64px;
  margin-bottom: 21px;
}

.text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.text._service {
  margin: 25px 0 0px 0;
}

.service__bottom {
  display: flex;
}

.service-list {
  position: relative;
  height: 279px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-list:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  width: 10px;
  background: url(../img/icon/shadow-object.png) no-repeat 100% 0;
  height: 100%;
}

.service-tab {
  width: 260px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32425c;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.service-tab.active {
  background: #fff;
  color: #32425c;
  cursor: default;
}

.service-content {
  font-size: 20px;
  margin-top: 50px;
}

.service-info-tab {
  position: relative;
  display: none;
  width: 600px;
  height: 283px;
  margin-left: 80px;
}

.tab-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.text._tab {
  margin-top: 30px;
  font-size: 13px;
  line-height: 24px;
}

.btn._send {
  width: 195px;
  background: #ff5357;
  border-radius: 4px;
  margin-top: 27px;
}

.service-info-tab.active {
  display: flex;
  flex-direction: column;
}

._service {
  color: #000000;
}

._guarantee {
  display: none;
}

._credit {
  display: none;
}

/*---main-low---*/
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.text._top {
  margin-top: 24px;
  margin-bottom: 24px;
}
/*.main-low {
  margin-top: 70px;
}*/

.company-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

ul.company-list li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 37px;
}

ul.company-list li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: 0px;
  top: 12px;
}

.company-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text._map {
  margin-top: 24px;
  margin-bottom: 32px;
}

.btn._map {
  width: 300px;
  margin-top: 25px;
}

.about__btn {
  width: 220px;
}

/*===catalog===*/

.user-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 299px;
  height: 70px;
  margin-left: 10px;
}

.user-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

.user-img:hover .user-img {
  fill: rgba(61, 84, 111, 1);
}
.user-img:active .user-img {
  fill: rgba(197, 197, 197, 1);
}

.user-cart__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 45px;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.user-cart__name:active {
  color: rgba(197, 197, 197, 1);
}

.user-functional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 18px;
  color: rgba(50, 66, 92, 1);
}

.user-function:hover {
  color: rgba(238, 54, 67, 1);
}

.user-function:active {
  color: rgba(197, 197, 197, 1);
}

.user-functional:hover .user-point {
  fill: rgba(238, 54, 67, 1);
}

.user-functional:active .user-point {
  fill: rgba(197, 197, 197, 1);
}

/*===catalog main===*/

.tabs {
  display: flex;
  align-items: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.svg-home {
  margin-left: 12px;
}

.svg-arrow {
  margin: 0 16px;
}

._catalog-name {
  display: flex;
  align-items: center;
  text-align: center;
  background: #f2f6f8;
  height: 89px;

  border-radius: 0px;
  padding-left: 29px;
  margin-bottom: 14.15px;
}

.catalog {
  display: flex;
  margin-bottom: 59px;
}
/*=== filter ===*/
.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  width: 220px;
  margin-right: 20px;
  height: 720px;
}

.filter__heading {
  display: flex;
  align-items: center;
  height: 38px;
  background: #f7f3ec;
  padding-left: 18px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 14px;
}

.filter__title {
  text-transform: uppercase;
  height: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 9px;
}
.svg-line {
  margin: 25px 0 10px 0;
  width: 100%;
}
/*=== input range chexbox radio ===*/
/*=== range ===*/
.filter__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 167px;
}

._price {
}

.filter__label-range {
  width: 220px;
  height: 80px;
  background: #f7f3ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__input-range {
  width: 152px;
  height: 2px;
  position: absolute;

  background: #5fbb2d;
}

input[type='range'] {
  width: 152px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 2px;
}
input[type='range']::-webkit-slider-thumb {
  background: rgba(171, 171, 171, 1);
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type='range']::-moz-range-track {
  border-radius: 10px/100%;
  height: 5px;

  background-color: #fff;
}
input[type='range']::-moz-range-thumb {
  background: #ecf0f1;

  border-radius: 10px/100%;
  cursor: pointer;
}

.filter__price-border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}

.filter__price-value {
  width: 95px;
  height: 38px;
  background: #f7f3ec;
  display: flex;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
}

/*=== chexbock ===*/

.form__checkbox {
  margin-top: 6px;
  height: 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.option {
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 8px;
  position: relative;
  background: url('../img/icon/checkbox-off.svg') no-repeat;
}

.check__input:checked + .check__box {
  background: url('../img/icon/checkbox-on.svg') no-repeat;
}

.check__input:hover + .check__box {
  background: url('../img/icon/checkbox-off-hover.svg') no-repeat;
}

.check__input:checked:hover + .check__box {
  background: url(../img/icon/checkbox-on-hover.svg) no-repeat;
}

.check__box:active {
  background: url(../img/icon/checkbox-off.svg) no-repeat;
  opacity: 0.5;
}

/*=== radio ===*/

.form__radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 113px;
  margin-bottom: 37px;

  /* margin-top: 8px;*/
}
.radio-title {
  margin-bottom: 20px;
}
.filter__radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 23px;
}

.filter__radio-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__radio-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.filter__radio-span::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/icon/radio-off.svg) no-repeat;
  margin-right: 10px;
}

.filter__radio-input:checked + .filter__radio-span::before {
  background: url('../img/icon/radio-on.svg') no-repeat;
}

.filter__radio-span:hover:before {
  background: url(../img/icon/radio-off-hover.svg) no-repeat;
}
.filter__radio-span:hover:active {
  opacity: 0.5;
}
.filter__radio-input:checked + .filter__radio-span:hover:before {
  background: url('../img/icon/radio-on-hover.svg') no-repeat;
}
.filter__radio-input:checked + .filter__radio-span:hover:active {
  opacity: 0.5;
}
/* =====   */
.filter__btn {
  width: 220px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #e5e5e5;

  text-transform: uppercase;
}
.filter__btn:hover {
  border: 1px solid #c5c5c5;
}
.filter__btn:active {
  opacity: 0.5;
}
/*=== product table ===*/
.product-table {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f3ec;
  height: 38px;
  margin-bottom: 28px;
  padding-left: 19px;
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.sorting__title {
  width: 220px;
}

.sorting__name {
  width: 350px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 46px;
}

.sorting__value {
  border-bottom: 1px dotted red;
  cursor: pointer;
}

.sorting__value.active {
  border-bottom: 0;
  color: #ee3643;
}

.sorting__value:hover {
  color: rgba(0, 0, 0, 1);
}

.sorting__value:active {
  color: rgba(238, 54, 67, 1);
  border-bottom: none;
}

.arrow-vertical {
  display: flex;
  align-items: center;
}

.arrow-direction {
  margin-right: 21px;
  cursor: pointer;
}

.arrow-updown:hover {
  fill: rgba(0, 0, 0, 1);
}
.arrow-updown:active {
  fill: rgba(238, 54, 67, 1);
}

._table {
  display: flex;
  flex-wrap: wrap;
}

ul._table li {
  margin-bottom: 20px;
}
ul._table {
  margin-bottom: 28px;
}

.page {
  display: flex;
  flex-direction: row;
  height: 38px;
  margin-bottom: 59px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 18px;
}

.page__number {
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 3px;
  margin-right: 10px;
}

._next {
  width: 140px;
}

._active {
  background: rgba(238, 54, 67, 1);
  color: rgba(255, 255, 255, 1);
}

.page__number:hover {
  border: 1px solid rgba(197, 197, 197, 1);
}

.page__number:active {
  border: 1px solid rgba(238, 54, 67, 1);
}

/*=== main botton ===*/
.main__bottom {
  padding: 64px 20px;
  height: 261px;
  background: #f1f5f7;
}

.company__text {
  margin-top: 25px;
}
