@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/
@media (max-width: 700px) {
}
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto&display=swap');
body {
  min-width: 940px;
  background-color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

p,
ul,
h3,
h2,
h1,
input {
  margin: 0;
  padding: 0;
}
ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

a:focus {
  outline: none;
}

body {
  font-family: 'Cuprum', sans-serif;
  min-width: 940px;
}

.header {
  width: 100%;
  position: relative;
}

.container {
  width: 940px;
  margin: 0px auto;
  position: relative;
  background: inherit;
}

.header__top {
  height: 40;
  background-color: #32425c;
  position: relative;
}

.header__top-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.0001);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 220px;
  left: 134px;
  top: 5px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  color: rgba(255, 255, 255, 1);
  background: rgba(238, 54, 67, 1);
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  top: 5px;
}

.logo::after {
  display: ;
}
