@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/
@media (max-width: 700px) {
}
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto&display=swap');
body {
  min-width: 960px;
  background-color: white;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

/*p,
ul,
h3,
h2,
h1,
input {
  margin: 0;
  padding: 0;
}*/

/*a:focus {
  outline: none;
}*/
.header {
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  font-family: 'Cuprum', sans-serif;
}

.header__top .container {
  position: relative;
}
.header__top {
  color: #ffffff;
}

.header__top-wrapper {
  display: flex;
}
/* ОСНОВНЫЕ СТИЛИ САЙТА */

.logo {
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  background: #ee3643;
  font-size: 24px;
  line-height: 42px;
  width: 220px;
}

.header .logo::after {
  position: absolute;
  content: '';
  left: 0;
  top: 35px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.logo:hover {
  background: #ca2c37;
}

.logo:active {
  background: #ba2732;
}
.search-panel {
  font-family: 'Cuprum', sans-serif, Arial;
  position: relative;
  display: inline-block;
}

.search-panel input {
  height: 15px;
  width: 230px;
  border: none;
  padding: 5px 0 5px 40px;
  background: #293449 url('../img/icon/icon-search.png') no-repeat 5% 50%;
  opacity: 0.5;
}

.search-panel input:hover {
  opacity: 1;
  background: #212a3a url('../img/icon/icon-search.png') no-repeat 5% 50%;
  color: #212a3a;
}

.search-panel input:focus {
  opacity: 1;
  background: #ffffff url('../img/icon/search-red.png') no-repeat 5% 50%;
}

.search-panel label {
  margin-left: 40px;
  position: absolute;
  top: 11px;
  left: 0;
}

.search-panel input[type='text']:active + label {
  color: #ffffff;
}

.search-panel input[type='text']:focus + label {
  display: none;
}

.header__bookmarks {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px 12px 43px;
  line-height: 42px;
}

.header__bookmarks:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -65px -14px;
  opacity: 0.3;
}

.header__bookmarks:hover:before {
  opacity: 1;
  background: #212a3a;
}

.header__bookmarks:hover:active {
  opacity: 0.2;
  color: #5f6671;
  background: #161d29;
}

.header__basket {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px 12px 43px;
  line-height: 42px;
}

.header__basket:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -10px -15px;
  opacity: 0.3;
}

.header__basket:hover:before {
  opacity: 1;
  background: #212a3a;
}

.header__basket:hover:active {
  opacity: 0.2;
  background: #212a3a;
}

.header__basket--not-empty {
  background: #ee3643;
}

.header__order {
  color: #ffffff;
  background: #63a63e;
  text-decoration: none;
  line-height: 39px;
  padding: 13px 22px;
}

.header__order :hover {
  background: #5fbb2d;
}

.header__order :active {
  color: #85a971;
}

.header__bottom {
  background: #f1f5f7 url('../img/icon/header-shadow.png') no-repeat center
    bottom;
}

.header__bottom .container {
  padding: 0 10px 60px;
}

.header {
  background: #293449;
}

.header__text {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__text {
  margin: 0 20px 0 40px;
  width: 200px;
  color: #ee4f5b;
  float: left;
  font-style: italic;
  font-size: 16px;
  line-height: 1.438;
}

.header__contact {
  float: left;
  margin: 0 0 0 20px;
  width: 250px;
  position: relative;
}

.header__contact-tel {
  border: 3px solid #ffffff;
  padding: 8px 15px 8px 34px;
  margin: 0 0 10px 0;
  color: #e9292a;
  font-size: 21px;
  display: inline-block;
}

.header__contact-tel:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -60px -160px;
  opacity: 0.5;
}

.header__contact-adress {
  color: #32425c;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.125;
}

.authorize {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 0.857;
  padding-left: 100px;
  position: relative;
}

.authorize__btn-login,
.authorize__btn-reg,
.user {
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  background: #ffffff;
  display: inline-block;
}

.authorize__btn-login {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}

.authorize__btn-login:hover {
  color: #ee3643;
}

.authorize__btn-login:active {
  color: #b2b2b2;
}

.authorize__btn-login:before {
  content: '';
  position: absolute;
  left: 110px;
  top: 9px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -65px;
  opacity: 0.5;
}

.authorize__btn-login:hover:before {
  opacity: 1;
}

.authorize__btn-reg:hover {
  color: #ee3643;
}

.authorize__btn-reg:active {
  color: #b2b2b2;
}

.user {
  padding: 12px 70px 12px 47px;
  margin: 0 0 5px;
}

.user:active {
  color: #b2b2b2;
}

.user:before {
  content: '';
  position: absolute;
  left: 113px;
  top: 12px;
  width: 20px;
  height: 20px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -15px;
  opacity: 0.3;
}

.user:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 11px;
  width: 20px;
  height: 20px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -40px;
  opacity: 0.3;
}

.user:hover:after {
  opacity: 1;
}

.account__btn-order,
.account__btn-profile {
  margin: 0 29px 0 5px;
  padding: 5px;
  display: inline-block;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
}

.account__btn-order:hover {
  color: #ee3643;
}

.account__btn-profile:hover {
  color: #ee3643;
}

.account__btn-order {
  color: #b7bec7;
}

.account__btn-profile:active {
  color: #b7bec7;
}

.account__btn-orders:after {
  content: '';
  position: absolute;
  top: 59px;
  left: 185px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
  margin: 0 0 0 22px;
}

.nav {
  background: #32425c;
  border-bottom: 5px solid #293449;

  padding: 0;
  font-size: 0;
}

.nav__list {
  text-align: center;
}

.nav__link:hover {
  background: #293449;
}

.nav__link:active {
  background: #1d2739;
  color: #616874;
  border: none;
}

.nav__list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  padding: 19px 33px;
  display: block;
}

/*footer*/

.footer__top {
  background: #32425c;
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 1.333;
  padding-bottom: 50px;
}

.footer__contact {
  float: left;
  color: #ffffff;
  width: 300px;
  position: relative;
}

.footer__top .logo {
  line-height: 64px;
  font-size: 30px;
  margin-bottom: 30px;
}

.footer__top .logo:after {
  position: absolute;
  content: '';
  left: 0;
  top: 64px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.footer__adres {
  display: flex;
}

.footer__nav {
  float: right;
  padding-top: 35px;
  width: 600px;
}

.nav__list-top {
  display: flex;
  margin: 0 0 35px;
  padding: 0;
}

.nav__list-item {
  list-style: none;
  display: inline-block;

  padding-left: 40px;
}
/* .nav__list-item :first-child {
    padding:0;
} */

.low-nav__link {
  text-decoration: none;
  color: #f1f5f7;
  padding: 10px;
}

.low-nav__link:hover {
  text-decoration: underline;
}

.low-nav__link:active {
  color: #6a778a;
  border: none;
}

.nav__list-low {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.low-nav__list-item {
  list-style: none;
  /*   display:inline-block; */

  padding-left: 35px;
}
/* .footer-upper__shop-menu li:first-child {
    padding:0;
} */

.low-nav__link low-nav__link--yellow {
  color: #ffd180;
  text-decoration: none;
  padding: 10px;
}

.low-nav__link low-nav__link--yellow:hover {
  text-decoration: underline;
}

.low-nav__link low-nav__link--yellow:active {
  color: #6f6d66;
  border: none;
}
/* .footer-upper__shop-menu li:last-child {
    padding-left:80px;
} */

.nav__list-low {
  content: '';
  /*  display:inline-block;
    position:absolute;
    top:10px;
  right:200px; */

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f1f5f7;
  vertical-align: middle;
}

.footer__bottom {
  background: #293449;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 16px;
  line-height: 1.125;
}

.footer__bottom .container {
  padding: 40px 0;
}

.low__text {
  float: left;
  width: 350px;
  margin: 0 30px 0 0;
}

.social-buttons {
  float: left;
  width: 200px;
  margin-right: 60px;
}

.low__networks {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  background: #212a3a;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  margin-right: 5px;
}

.icon__networks--vk {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -2px -55px;
}

.btn-social--fb {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -3px -154px;
}

.icon__networks--inst {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -2px -104px;
}

.icon__networks--vk:hover {
  background: #ee3643 url('../img/icon/technomart-sprites.png') no-repeat -2px -55px;
}

.icon__networks--fb:hover {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -3px -154px;
}

.icon__networks--inst:hover {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -104px;
}

.icon__networks--vk:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -55px;
  opacity: 0.5;
}

.icon__networks--fb:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -3px -154px;
  opacity: 0.5;
}

.icon__networks--inst:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -104px;
  opacity: 0.5;
}
.low__feedback {
  float: left;
  width: 140px;
  margin: 0;
}

.low__title {
  color: #ffd180;
  text-decoration: none;
}

.low__title:hover {
  text-decoration: underline;
}

.low__title:active {
  color: #ee3643;
  border: none;
}
