@charset "utf-8";
/* 
    СБРОС СТИЛЕЙ ПО УМОЧАНИЮ
    УСТАНОВКА СТИЛЕЙ ДЛЯ ОСНОВНЫХ НЕВИДИМЫХ БЛОКОВ
*/
@media (max-width: 700px) {
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
ul,
h3,
h2,
h1,
input {
  margin: 0;
  padding: 0;
}
ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

body {
  min-width: 940px;

  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

.header {
  width: 100%;
  position: relative;
  height: 320px;
  background: #f1f5f7;
}

.container {
  width: 940px;
  margin: 0px auto;
  position: relative;
  background: inherit;
}

.header__top {
  height: 42;
  background-color: #32425c;
  position: relative;
}

.header__top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(41, 52, 73, 1);
  font-style: normal;
  height: 42px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: -5px;
  width: 220px;
  height: 47px;
  background-color: rgba(238, 54, 67, 1);
  position: relative;
  box-shadow: inset 0px -5px rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.search__panel {
  width: 271px;
  height: 42px;
}
input::-webkit-input-placeholder {
  color: #ffffff;
}

.search__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  background: none;
  background: #293449 url('../img/icon/icon-search_grey .png');
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
  line-height: 24px;
  font-size: 18px;
  border: 0;
  outline: 0;
  color: #f1f5f7;
}

.search__input:hover {
  background: #293449 url('../img/icon/icon-search_white.png') no-repeat 5px
    13px;
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
.search__input:active {
  background: #293449 url('../img/icon/icon-search_grey .png') no-repeat 5px
    13px;
}

.search__input:focus {
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-position-x: 17px;
  background-color: #ffffff;
  background: #ffffff url('../img/icon/icon-search_red.png') no-repeat 5% 50%;
}

.search__input label {
  position: absolute;
  top: 11px;
  left: 0;
}

.search__input input[type='text']:active + label {
  color: #ffffff;
}

.search__input input[type='text']:focus + label {
  display: none;
}

.header__tab {
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  height: 42px;
  font-size: 18px;

  position: relative;
  overflow: hidden;
  line-height: 24px;
}

/*.header__tab:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 10px;
  width: 700px;
  height: 30px;
}*/

/*.header__tab:hover:before {
  background: rgba(22, 29, 41, 1);
  opacity: 1;
}*/
/*.header__tab:hover:active {
  background: rgba(22, 29, 41, 1);
  color: rgba(255, 255, 255, 0.5)
}*/
.header__tab:active {
  background: #161d29;
}
._icon-bookmarks {
  background: url('../img/icon/icon-bookmark.png') no-repeat 9px 13px;
}
._icon-bookmarks:active {
  background: url('../img/icon/icon-bookmark.png') no-repeat 9px 13px;
  opacity: 0.3;

  /*color: rgba(255, 255, 255, 0.5);*/
}
._icon-bookmarks:hover {
  background: rgba(22, 29, 41, 1) url('../img/icon/icon-bookmark_white.png')
    no-repeat 9px 13px;
}

._icon-basket {
  background: url('../img/icon/icon-cart.png') no-repeat 8px 13px;
}
._icon-basket:active {
  background: url('../img/icon/icon-cart.png') no-repeat 8px 13px;
  opacity: 0.3;
}

._icon-basket:hover {
  background: rgba(22, 29, 41, 1) url('../img/icon/icon-cart_white.png')
    no-repeat 8px 13px;
}
.header__order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  background: #63a63e;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  height: 42px;
  width: 150px;
}

.header__order:hover {
  background: #5fbb2d;
}

.header__order:active {
  color: #63a63e;
}

/*.header__bottom {
  width: 100%;
  position: relative;
}*/

.header__bottom {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  height: 158px;
}

.header__text {
  /*display: block;*/
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Cuprum', arial, sans-serif;
  font-style: italic;
  color: rgba(238, 54, 67, 1);
  line-height: 23px;
  height: 71px;
  width: 204px;

  margin-bottom: 4px;
  margin-left: 30px;
}
.header__contact {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-left: 73px;
}

.header__contact-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  width: 100%;
  height: 45px;

  color: #e9292a;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  border: 3px solid #ffffff;
  box-sizing: border-box;

  /*display: inline-block;*/
}

.header__contact-tel:before {
  content: ' ';
  width: 19px;
  height: 19px;
  background: url('/img/icon/icon-phone.png') no-repeat center center;
  margin-right: 16px;
  text-align: center;
}

.header__contact-adress {
  display: flex;
  color: #32425c;
  font-size: 14px;
  font-weight: 24px;
  margin-top: 6px;
  justify-content: center;
}

.authorize {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 0.857;
  padding-left: 100px;
  position: relative;
}

.authorize__btn-login,
.authorize__btn-reg,
.user {
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  background: #ffffff;
  display: inline-block;
}

.authorize__btn-login {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}

.authorize__btn-login:hover {
  color: #ee3643;
}

.authorize__btn-login:active {
  color: #b2b2b2;
}

.authorize__btn-login:before {
  content: '';
  position: absolute;
  left: 110px;
  top: 9px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -65px;
  opacity: 0.5;
}

.authorize__btn-login:hover:before {
  opacity: 1;
}

.authorize__btn-reg:hover {
  color: #ee3643;
}

.authorize__btn-reg:active {
  color: #b2b2b2;
}

.user {
  padding: 12px 70px 12px 47px;
  margin: 0 0 5px;
}

.user:active {
  color: #b2b2b2;
}

.user:before {
  content: '';
  position: absolute;
  left: 113px;
  top: 12px;
  width: 20px;
  height: 20px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -15px;
  opacity: 0.3;
}

.user:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 11px;
  width: 20px;
  height: 20px;
  background: url('../img/icon/technomart-sprites.png') no-repeat -115px -40px;
  opacity: 0.3;
}

.user:hover:after {
  opacity: 1;
}

.account__btn-order,
.account__btn-profile {
  margin: 0 29px 0 5px;
  padding: 5px;
  display: inline-block;
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
}

.account__btn-order:hover {
  color: #ee3643;
}

.account__btn-profile:hover {
  color: #ee3643;
}

.account__btn-order {
  color: #b7bec7;
}

.account__btn-profile:active {
  color: #b7bec7;
}

.account__btn-orders:after {
  content: '';
  position: absolute;
  top: 59px;
  left: 185px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
  margin: 0 0 0 22px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #32425c;
  box-shadow: inset 0px -5px 0px #293449;
  width: 100%;
}

.nav__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  max-width: 122px;
  height: 42px;
  font-size: 18px;
  height: 60px;
  position: relative;

  /*flex-direction: row;
  justify-content: center;
  align-items: center;*/
}

.nav__link:hover {
  background: #293449;
  width: 122px;
}

.nav__link:active {
  background: #1d2739;
  color: #616874;
  border: none;
}

.nav__list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
*/

/*footer*/

.footer__top {
  background: #32425c;
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 1.333;
  padding-bottom: 50px;
}

.footer__contact {
  float: left;
  color: #ffffff;
  width: 300px;
  position: relative;
}

.footer__top .logo {
  line-height: 64px;
  font-size: 30px;
  margin-bottom: 30px;
}

.footer__top .logo:after {
  position: absolute;
  content: '';
  left: 0;
  top: 64px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.footer__adres {
  display: flex;
}

.footer__nav {
  float: right;
  padding-top: 35px;
  width: 600px;
}

.nav__list-top {
  display: flex;
  margin: 0 0 35px;
  padding: 0;
}

.nav__list-item {
  list-style: none;
  display: inline-block;

  padding-left: 40px;
}
/* .nav__list-item :first-child {
    padding:0;
} */

.low-nav__link {
  text-decoration: none;
  color: #f1f5f7;
  padding: 10px;
}

.low-nav__link:hover {
  text-decoration: underline;
}

.low-nav__link:active {
  color: #6a778a;
  border: none;
}

.nav__list-low {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.low-nav__list-item {
  list-style: none;
  /*   display:inline-block; */

  padding-left: 35px;
}
/* .footer-upper__shop-menu li:first-child {
    padding:0;
} */

.low-nav__link low-nav__link--yellow {
  color: #ffd180;
  text-decoration: none;
  padding: 10px;
}

.low-nav__link low-nav__link--yellow:hover {
  text-decoration: underline;
}

.low-nav__link low-nav__link--yellow:active {
  color: #6f6d66;
  border: none;
}
/* .footer-upper__shop-menu li:last-child {
    padding-left:80px;
} */

.nav__list-low {
  content: '';
  /*  display:inline-block;
    position:absolute;
    top:10px;
  right:200px; */

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f1f5f7;
  vertical-align: middle;
}

.footer__bottom {
  background: #293449;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 16px;
  line-height: 1.125;
}

.footer__bottom .container {
  padding: 40px 0;
}

.low__text {
  float: left;
  width: 350px;
  margin: 0 30px 0 0;
}

.social-buttons {
  float: left;
  width: 200px;
  margin-right: 60px;
}

.low__networks {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  background: #212a3a;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  margin-right: 5px;
}

.icon__networks--vk {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -2px -55px;
}

.btn-social--fb {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -3px -154px;
}

.icon__networks--inst {
  background: #212a3a url('../img/icon/technomart-sprites.png') no-repeat -2px -104px;
}

.icon__networks--vk:hover {
  background: #ee3643 url('../img/icon/technomart-sprites.png') no-repeat -2px -55px;
}

.icon__networks--fb:hover {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -3px -154px;
}

.icon__networks--inst:hover {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -104px;
}

.icon__networks--vk:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -55px;
  opacity: 0.5;
}

.icon__networks--fb:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -3px -154px;
  opacity: 0.5;
}

.icon__networks--inst:active {
  background: #ee3643 url('../img/technomart-sprites.png') no-repeat -2px -104px;
  opacity: 0.5;
}
.low__feedback {
  float: left;
  width: 140px;
  margin: 0;
}

.low__title {
  color: #ffd180;
  text-decoration: none;
}

.low__title:hover {
  text-decoration: underline;
}

.low__title:active {
  color: #ee3643;
  border: none;
}
